@import "variables";

.repoCards{
    @include flex(none, center);
    //display: flex;
    //justify-content: center;
    align-content: center;
}
.fullForm{
    @include flex(column, center);
    //display: flex;
    //flex-direction: column;
    //justify-content: center;

}
.searchForm{
    @include flex(row, center);
    margin-top: 20px;
    &__btn{
        @include square(50px);
        background: $--main-serch-btn-input-color;
        border-radius: 6px;
        cursor: pointer;
        margin-left: 27px ;
    }

    &__input{
    width: 460px;
    height: 50px;
    background: $--main-bg-color;

    border: 1px solid $--main-border-color;
    border-radius: 6px;
    padding-left: 12px;
    cursor: pointer;
    }
}

.searchForm__input:hover{
    border: 1px solid $--main-serch-btn-input-color;
}
.searchForm__input:disabled{
    background: $--serch-input-disable-color;
    border: 1px solid $--main-border-color;
}

.searchForm__btn:hover{
    background: $--serch-input-hover-color;
}
.searchForm__btn:disabled{
    background: $--main-border-color;
}
